.form {
  margin-top: 5rem;
}

.taskInput {
  font-size: inherit;
  width: 30rem;
  padding: .6rem;
  border: 1px solid rgba(138,27,195,.4);
  font-family: inherit;
}

.taskInput:focus {
  outline: 1px solid rgba(138,27,195,.4);
}

.btn {
  background-color: rgba(138,27,195,.8);
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  padding: .6rem 1rem;
  margin-left: 1rem;
  cursor: pointer;
  transition: all .2s;
  font-family: inherit;
  font-size: inherit;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: rgba(138,27,195,.8);
  border: 1px solid rgba(138,27,195,.8);
}
